@charset "UTF-8";

/* Mobile */   
@media screen and (min-width:320px) and (max-width:480px){
    main .poemaum{
        width: 60px;
    }

    .imgfundoum{
        background: url(imagens/background001.jpg) no-repeat right center;
        background-size: cover;
    }

    .imgfundoum p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .poemadois{
        width: 60vw;
    }

    .imgfundodois{
        background: url(imagens/background002.jpg) no-repeat;
        background-size: cover;
    }

    .imgfundodois p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main .poematres{
        width: 60vw;
    }
}    





 @media screen and (min-width: 768px) and (max-width: 992px){  /* Tablet */

    header{
        height: 230px;
    }

    header h1{
        font-size: 50px;
    }

    footer{
        height: 60px;
    }

    .poemaum p {
        font-size: 26px;
    }

    .poemadois p{
        font-size: 26px;
    }

    .poematres p{
        font-size: 26px;
    }
}

/* Desktop */
@media screen and(min-width:1025px) and (max-width:1200px){

    header{
        height: 230px;
    }
    }