@charset "UTF-8";


@media screen and (min-width:320px) and (max-width:480px){ /* Mobile */   
    .poemaum{
        width: 90vw;
    }

    .imgfundoum{
        background: url(imagens/background001.jpg) no-repeat right center;
        background-size: cover;
    }

    .imgfundoum p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .poemadois{
        width: 60vw;
    }

    .imgfundodois{
        background: url(imagens/background002.jpg) no-repeat;
        background-size: cover;
    }

    .imgfundodois p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .poematres{
        width: 60vw;
    }

    footer{
        height: 50px;
    }
}    





 @media screen and (min-width: 768px) and (max-width: 992px){  /* Tablet */

    header{
        height: 230px;
    }

    header h1{
        font-size: 50px;
    }

    footer{
        height: 60px;
    }

    .poemaum p {
        font-size: 26px;
    }

    .poemadois p{
        font-size: 26px;
    }

    .poematres p{
        font-size: 26px;
    }
}